# Copyright (C) 2014 Michał Masłowski <mtjm@mtjm.eu>
# Copyright (C) 2014-2016,2020-2021 Leah Rowe <info@minifree.org>
# Copyright (C) 2015 P. J. McDermott <pj@pehjota.net>
# Copyright (C) 2015 Paul Kocialkowski <contact@paulk.fr>
# Copyright (C) 2021 Vitali64 <vitali64pmemail@protonmail.com>
# Copyright (C) 2022-2026 Denis 'GNUtoo' Carikli <GNUtoo@cyberdimension.org>
# Copyright (C) 2024 Adrien 'neox' Bourmault <neox@gnu.org>

# GNU Boot is free software: you can redistribute it and/or modify it
# under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# GNU Boot is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
*.date
*.hash
*.html
*.sha1sum
*.vim
*feed.xml
*~
/*.bin
/*.elf
/*.rom
/TODO
/TODO/
/bin/
/bin-dbg/
/bucts/
/build_error
/compile
/config.guess
/config.sh
/config.sub
/coreboot/
/crossgcc/
/debian/
/depthcharge/
/descriptors/
/docs/version
/libtool
/ltmain.sh
/me_cleaner/
/memtest86plus/
/payload/
/push
/release/
/resources/coreboot/*/seen
/seabios/
/tmp/
/version
/versiondate
/website/pages/sitemap.md
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing

# Build logs, generated by Makefile.am
/make-*.log

# Generated backgrounds. We also want the following to be generic
# enough to support various resolutions.
/background*x*.png
/background*x*.png.scaled_*.png
