*.date
*.hash
*.html
*.sha1sum
*.vim
*feed.xml
*~
/*.bin
/*.elf
/*.rom
/TODO
/TODO/
/bin/
/bucts/
/build_error
/coreboot/
/crossgcc/
/depthcharge/
/descriptors/
/docs/version
/grub/
/ich9utils/
/me_cleaner/
/memtest86plus/
/payload/
/push
/release/
/resources/coreboot/*/seen
/seabios/
/site/news/index*
/site/sitemap.md
/tmp/
/version
/versiondate
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
missing
