*~
/*.bin
/bin/
/bucts/
/build_error
/coreboot/
/crossgcc/
/depthcharge/
/descriptors/
/docs/version
/*.elf
/flashrom/
/grub/
/ich9utils/
/me_cleaner/
/memtest86plus/
/payload/
/push
/release/
/resources/coreboot/*/seen
/*.rom
*.s[a-w]?
/seabios/
/tmp/
/TODO
/TODO/
/version
/versiondate
*.vim
