html{padding:1em}
body{
	font:1em sans-serif;
	line-height:1.4
}
a{color:#22d}
code,pre,#TOC,a:hover{background:#eee}
:not(p) {
	max-width:60em; 
	margin:0 auto
}
.title>*, header ul>li, .nav ul>li,
#footer ul>li, .h:hover>*, pre
{
	display:inline;
	margin:.7%;
	text-align:center
}
.title>*{display:block}
.date,.author,.h a{display:none}
