html{background:#fff}
html,ul,#TOC{padding:1em}
body,a:hover{
	font:1em sans-serif;
	color:#222;
	line-height:1.4
}
a{color:#22d}
.date,.author,.h a{display:none}
:not(p) {
	max-width:60em; 
	margin:0 auto
}
code,pre,#TOC{
	background:#eee;
	margin:0
}
.title > *, header ul > li, .nav ul > li, #footer ul > li, .h:hover>*
{
	display:inline;
	margin:1%;
	text-align:center
}
.title>* {display:block}
#TOC{
	min-width:25%;
	float:left;
	margin:1em
}
@media (min-width:60em) {
	.title-logo{display:none}
	div.title,h1.title {
		background:url("https://av.libreboot.org/logo/sl.png") no-repeat;
		background-size:auto 99%;
	}
	div.title {background-position:right}
	h1.title {padding:0 4em}
}
