# Copyright (C) 2022-2024 Denis 'GNUtoo' Carikli <GNUtoo@cyberdimension.org>
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/id_oauth2_bearer
/install-sh
/lighttpd.conf
/Makefile
/Makefile.in
/missing
/site/**
/site.cfg
/untitled/
/website-raw.tar.gz
/website.tar.gz
/pages/footer.include
/pages/footer-git-commit.include
/symlinks/CVS/**
/symlinks/web-symlinks/**

# History
/history/git-history.jpg

# Manual
/cmb10.657pk
/cmbx12.1037pk
/cmbx12.657pk
/cmbx12.720pk
/cmbx12.864pk
/cmmi10.657pk
/cmmi12.720pk
/cmr10.657pk
/cmsl10.657pk
/cmsltt10.540pk
/cmsy10.657pk
/cmti10.657pk
/cmtt10.657pk
/cmtt12.657pk
/cmtt12.720pk
/gnuboot.aux
/gnuboot.cp
/gnuboot.cps
/gnuboot.log
/gnuboot.toc
/images/*
/manual/**
/pages/manual/*
